@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
body{background: #333;}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none;
 cursor: pointer;}
h1{color: #fff; margin-top: 60px; text-align: center;}
ul{width: 644px; margin:100px auto 0;
 display: flex; gap: 15px;}
ul li{width: 204.6px; height: 90px;
 display: flex;}
ul li a{width: 100%; height: 100%; display: block;
 background-image: linear-gradient(to bottom, #898e88, #191919);
 justify-content: center; align-items: center;
 display: flex; color: #fff; border-radius: 12px;
 box-shadow: 0 0 10px #fff;}
ul li:hover a{background-image: linear-gradient(to bottom, #fbc740, #f44206);}
.box{width: 644px; 
 margin:100px auto 0; display: flex; gap: 15px;}
.box div{width: 204.6px; height: 90px; background: antiquewhite;
 display: flex; justify-content: center;
 align-items: center; background: #000;
 background-image: linear-gradient(to bottom, #898e88, #191919);
 cursor: pointer; border-radius: 12px;}
.box div:hover{background-image: linear-gradient(to bottom, #fbc740, #f44206);}
.btnwrap{width: 644px; margin: 100px auto; 
 display: flex; gap: 15px;}
.btnwrap button{width: 204.6px; height: 90px;
 display: block; border-radius: 12px;
 color: #fff; background-image: linear-gradient(to bottom, #898e88, #191919);
 box-shadow: 10px 10px 10px #fff;}
.btnwrap button:hover{background-image: linear-gradient(to bottom, #fbc740, #f44206);}