@charset "urf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
.header_wrap{width: 100%; height: 320px; background: #fff; border-bottom: 1px solid #002c5d;
            position: absolute; left: 0; top: 0; z-index: 100;}
.header{width: 100%; height: 70px; 
     /* height: 320px; */
     border-bottom: 1px solid #d0d0d0;}
.header .inner{width: 1200px; height: 70px; margin: auto;}
.header .inner h1{float: left; line-height: 70px; margin-right: 69px;}
.header .inner .gnb{float: left;}
.header .inner .gnb>li{float: left; margin-right: 64px; line-height: 70px; position: relative;}
.header .inner .gnb>li>a{font-size: 15px; font-weight: 700; color: #555555;}
.header .inner .gnb>li:hover>a{color: #002b5c;}
.header .inner .gnb .last{ margin-right: 0;}
.header .inner .icon{float: right;}
.header .inner .icon li{float: left; line-height: 70px; margin-left: 22px;}
.header .inner .icon .first{margin-left: 0; margin-top: 2px;}
.visual{width: 100%; height: 920px; background: url("../images/main_01_02.jpg") no-repeat center top;}

/* 2단 메뉴 */
.header .inner .gnb>li>.depth2{
    width: 140px;
    height: 250px;
    position: absolute;
    left: -20px;
    top: 70px;
    border-left: 1px solid #f1f1f1;
    padding: 15px;
    background: #fff;
    display: none;
}
.header .inner .gnb>li>.depth2>li{
    line-height: 33px;
}
.header .inner .gnb>li>.depth2>li>a{
    font-size: 14px;
    color: #727272;
    letter-spacing: -0.8px;
}
.header .inner .gnb>li>.depth2>li:hover>a{
    color: #5a2b96;
}