@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif; font-size: 16px; color: #222;}
*{margin: 0; padding: 0;}
li{list-style: none;}
.section{width: 100%; height: 600px; background: url(../images/41b6164f-6543-45bc-8fb1-0bd7440014f2.jpeg) no-repeat center top; }
.section .inner{width: 1270px; height: 600px; margin: auto; padding: 50px 0; box-sizing: border-box;}
.section .inner .title{margin-left: 100px;}
.section .inner .title h2{font-size: 36px; color: #000; font-weight: 900;}
.section .inner .title p{font-size: 18px; font-weight: 400; color: #404040; margin-top: 24px;}
.section .inner ul{width: 1270px; height: 270px; margin-top: 70px;}
.section .inner ul li{width: 230px; height: 270px; background: #fff; float: left; margin-right: 30px; padding: 50px 0; box-sizing: border-box; text-align: center;}
.section .inner ul .last{margin-right: 0; background: #fff url(../images/a5.png) no-repeat center 40px;}
.section .inner ul li h3{margin-top: 93px; font-size: 18px; font-weight: 700; color: #222;}
.section .inner ul li p{font-size: 14px; font-weight: 400; color: #333; margin-top: 20px;}
.section .inner ul .first{background: #fff url(../images/a1.png) no-repeat center 40px;}
.section .inner ul .second{background: #fff url(../images/a2.png) no-repeat center 40px;}
.section .inner ul .third{background: #fff url(../images/a3.png) no-repeat center 40px;}
.section .inner ul .fourth{background: #fff url(../images/a4.png) no-repeat center 40px;}