@charset "utf-8";
*{margin: 0; padding: 0;}
div{width: 1000px; height: 600px; background: gold; margin: auto;
    background: url(../images/icon\ \(1\)\ \(1\).png) no repeat; fixed }
body{height: 3000px;}