@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
ul{width: 1140px; height: 285px;
   display: flex; justify-content: center; gap: 20px;
   margin: auto;}
ul li{width: 285px; height: 285px;}
ul li img{width: 100%; height: 100%;}
ul .li1{filter: blur(10px);}
ul .li1:hover{filter: invert(100%);}
ul .li2{opacity: 50%;}
ul .li2:hover{filter: brightness(300%);}
ul .li3{filter: grayscale(100%);}
ul .li4{filter: drop-shadow(10px 10px 10px gray);}