@charset "utf-8";
.test1{filter: blur(10px);}
.test2{filter: brightness(200%);}
.test3{filter: contrast(50%);}
.test4{filter: drop-shadow(20px 10px 10px gray);}
.test5{filter: grayscale(100%);}
.test6{filter: sepia(100%);}
.test7{filter: saturate(200%);}
.test8{filter: opacity(50%) blur(10px);}
.test9{filter: invert(100%);}
.test10{filter: hue-rotate(90deg);}