@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0;}
.box{width: 900px; height: 300px; background: aquamarine;}
.box .box1{width: 300px; height: 300px; background: #1ddb17; float: left;}
.box .box2{width: 300px; height: 300px; background: #00d8ff; float: right;}
.box .box3{width: 300px; height: 300px; background: #000; float: left;}
.boxb{width: 900px; height: 300px; background: #ffff00;}
.boxc{width: 900px; height: 50px; background: #eeeeee;}
.wrap{margin: auto; width: 900px;}