@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0;}
.div1{width: 710px; height: 142px;
 border: 1px solid #000; margin: auto;
 text-align: center; margin-top: 38px;
 padding: 38px 45px 47px 45px; box-sizing: border-box;
 border-radius: 8px 24px;}
.div2{width: 710px; height: 142px;
 border: 1px solid #000; margin: auto;
 text-align: center; margin-top: 50px;
 padding: 38px 45px 47px 45px; box-sizing: border-box;
 box-shadow: 0 0 5px #000; border-radius: 8px;}
.div3{width: 710px; height: 130px;
 background: #f2f2f2; margin: auto; 
 margin-top: 50px; border: 1px solid #000;
 text-align: center; line-height: 130px;
 text-shadow: 3px 3px red;}
.div4{width: 710px; height: 130px;
 background: #000; margin: auto;
 margin-top: 50px; text-align: center;
 line-height: 130px; color: #000;
 text-shadow: 0 3px #fff;}
.div4 span{text-shadow: 0 0 5px #fff;}