@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}

section{
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 100px;
    text-transform: uppercase;
}
section h2 span{
    display: block;
    -webkit-text-stroke: 3px #fff;
    color: transparent;
}
.section2 ul{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border: 3px solid red;
}
.section2 ul li{
    width: 23%;
    background: #fff;
    height: 300px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4{
    position: relative;
    border: 5px solid #fff;
}
.section4 li{
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section4 li:nth-child(1){
    background: red;
    transform: translate(-50%, -50%) rotate(-15deg);
}
.section4 li:nth-child(2){
    background: orange;
    transform: translate(-50%, -50%) rotate(15deg);
}

.section4 li:nth-child(3){
    background: yellow;
    transform: translate(-50%, -50%) rotate(-20deg);
}

.section4 li:nth-child(4){
    background: green;
    transform: translate(-50%, -50%) rotate(20deg);
}
.section4 li:nth-child(5){
    background: blue;
    transform: translate(-50%, -50%) rotate(-30deg);
}
.section4 li:nth-child(6){
    background: navy;
    transform: translate(-50%, -50%) rotate(30deg);
}
.section4 li:nth-child(7){
    background: purple;
    transform: translate(-50%, -50%) rotate(-40deg);
}