@media ( min-width:320px ) and ( max-width:767px ){
    .cover{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 800;
        display: none;
    }
    .m_menu_wrap{
        display: block;
        width: calc(100% - 50px);
        height: 100%;
        background: #eee;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 900;
        transition: all 0.2s ease-in-out;
    }
    .m_menu_wrap.on{
        left: 0;
    }
    .m_menu_wrap h2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.9);
    }
    .m_menu_wrap h2 img{
        width: 100px;
    }
    
    .m_menu_wrap .m_gnb>li{
        width: 100%;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    .m_menu_wrap .m_gnb>li>a{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 0;
        color: #444;
    }
    .m_menu_wrap .m_gnb>li>.depth2{
        width: 100%;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #ccc;
    }
    .m_menu_wrap .m_gnb>li>.depth2>li{
        width: 50%;
        height: 100%;
        text-align: center;
        position: relative;
        border-bottom: 1px solid #ccc;
    }
    .m_menu_wrap .m_gnb>li>.depth2>li::after{
        content: '';
        width: 1px;
        height: 65px;
        background: #ccc;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .m_menu_wrap .m_gnb>li>.depth2>li>a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #626262;
        padding: 30px 0;
    }
    .m_menu_wrap .m_gnb>li>.depth2>li>a>span img{
        width: 14px;
    }
    header{
        height: 50px; height: 50px;
        padding: 0 15px;
    }
    header .inner{
        width: 100%; height: 50px;
    }
    header .inner ul.gnb{
        display: none;
    }
    header .inner h1{
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
    }
    .m_btn{
        display: block;
        width: 42px; height: 35px;
        background: url(../images/m_menu.png) no-repeat;
        background-size: 24px;
        position: absolute;
        left: 0; top: 50%;
        transform: translateY(-50%);
        text-indent: -99999px;
    }
    /* 메인영역   */
    main{
        padding: 0;
    }
    main .visual img,
    .swiper .swiper-wrapper .swiper-slide a img
    {
        width: 100%;
    }
    main .txt {
        background: #eee;
        padding: 0;
    }
    main .txt h2{
        background: #fff;
        margin-bottom: 0;
        padding: 15px 0;
    }
    main .txt p{
        padding: 12px 0;
        font-size: 14px;
        color: #626262;
        font-weight: 500;
    }
    main .txt p .show{
        display: block;
    }
    main .txt p em{
        display: none;
    }
    main .txt p .hidden{
        display: none;
    }
    main .swiper .swiper-button-prev,
    main .swiper .swiper-button-next{
        display: none;
    }
    main .content ul.list li:nth-child(1),
    main .content ul.list li:nth-child(2),
    main .content ul.list li:nth-child(3){
        width: 100%;
    }
    main .content ul.list li:nth-child(4),
    main .content ul.list li:nth-child(5){
        width: 50%;
    }
    /* sns live 박스 */
    main .snslive{
        display: none;
    }
    main .m_list{
        width: 100%;
        display: block;
    }
    main .m_list li{
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #d8d8d8;
    }
    main .m_list li a{
        display: block;
        width: 100%;
        padding: 12px 20px;
        font-size: 14px;
        color: #555;
        position: relative;
    }
    main .m_list li a::after{
        content: '';
        width: 11px;
        height: 18px;
        background: url(../images/m_arrow.gif) no-repeat;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    footer{
        width: 100%;
        background: #eee;
        padding-top: 70px;
    }
    footer .inner .family_box{
        left: 50%;
        transform: translateX(-50%);
        top: -40px;
    }
    footer .inner .family_box ul.list{
        left: 0;
    }
    footer .inner .f_menu,
    footer .inner .family_box p.site{
        display: none;
    }
    footer p{
        text-align: center;
    }
}