header{
    width: 100%; height: 70px;
    background: #fff;
}
header .inner{
    width: 950px; margin: 0 auto;
    height: 70px;
    /* display: flex; justify-content: space-between;
    align-items: center; */
    position: relative;
}
.m_btn{
    display: none;
}
header .inner ul.gnb{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 40px;
}
header .inner ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px; 
    color: #777;
    text-transform: capitalize;
}
header .inner ul.gnb>li:hover>a{
    color: #f57421;
}
header .inner h1{
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
}
header .inner h1 a{
    display: block;
    width: 116px; height: 22px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -99999px;
}
header .inner a.cart{
    display: block;
    width: 76px; height: 22px;
    background: url(../images/btn_lf_ot.png) no-repeat;
    text-indent: -99999px;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}
header .inner ul.gnb>li{
    position: relative;
    height: 70px;
    line-height: 70px;
}
header .inner ul.gnb>li>.depth2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    width: 200px;
    background: #f57421 url(../images/sub_cur.png) no-repeat center top;
    padding: 20px 0;
    box-sizing: border-box;
    display: none;

}
header .inner ul.gnb>li>.depth2>li{
    line-height: 24px;
    text-align: center;
}
header .inner ul.gnb>li>.depth2>li>a{
    color: #fff;
    font-size: 13px;
}
header .inner ul.gnb>li>.depth2>li>a:hover{
    text-decoration: underline;
}
/* 메인영역 */
main{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
/* 슬라이드 좌우버튼 */
main .swiper .swiper-button-prev{
    width: 50px;
    height: 50px;
    background: url(../images/btn_left.png) no-repeat;
    text-indent: -99999px;
    left: 30px;
}
main .swiper .swiper-button-next{
    width: 50px;
    height: 50px;
    background: url(../images/btn_right.png) no-repeat;
    text-indent: -99999px;
    right: 30px;
}
/* 슬라이드 페이지 버튼 */
main .swiper .swiper-wrapper{
    padding-bottom: 40px;
}
main .swiper .swiper-pagination-bullet{
    width: 60px;
    height: 5px;
    background: #000;
    border-radius: 0;
    opacity: 1;
}
main .swiper .swiper-pagination-bullet-active{
    background: #f57421;
}
main .txt{
    width: 100%;
    padding: 45px 0;
    text-align: center;
}
main .txt h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 20px;
}
main .txt p{
    font-size: 16px;
    color: #666;
    line-height: 26px;
    text-transform: uppercase;
}
main .txt p .show{
    display: none;
}
main .txt p em{
    font-style: normal;
}
main .txt p span{
    font-weight: 700;
}