header{
    width: 100%; height: 70px;
    background: #fff;
}
header .inner{
    width: 950px; margin: 0 auto;
    height: 70px;
    /* display: flex; justify-content: space-between;
    align-items: center; */
    position: relative;
    z-index: 100;
}
.m_btn{
    display: none;
}
header .inner ul.gnb{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 40px;
}
header .inner ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px; 
    color: #777;
    text-transform: capitalize;
}
header .inner ul.gnb>li:hover>a{
    color: #f57421;
}
header .inner h1{
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
}
header .inner h1 a{
    display: block;
    width: 116px; height: 22px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -99999px;
}
header .inner a.cart{
    display: block;
    width: 76px; height: 22px;
    background: url(../images/btn_lf_ot.png) no-repeat;
    text-indent: -99999px;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}
header .inner ul.gnb>li{
    position: relative;
    height: 70px;
    line-height: 70px;
}
header .inner ul.gnb>li>.depth2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    width: 200px;
    background: #f57421 url(../images/sub_cur.png) no-repeat center top;
    padding: 20px 0;
    box-sizing: border-box;
    display: none;

}
header .inner ul.gnb>li>.depth2>li{
    line-height: 24px;
    text-align: center;
}
header .inner ul.gnb>li>.depth2>li>a{
    color: #fff;
    font-size: 13px;
}
header .inner ul.gnb>li>.depth2>li>a:hover{
    text-decoration: underline;
}
/* 메인영역 */
main{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
/* 슬라이드 좌우버튼 */
main .swiper .swiper-button-prev{
    width: 50px;
    height: 50px;
    background: url(../images/btn_left.png) no-repeat;
    text-indent: -99999px;
    left: 30px;
}
main .swiper .swiper-button-next{
    width: 50px;
    height: 50px;
    background: url(../images/btn_right.png) no-repeat;
    text-indent: -99999px;
    right: 30px;
}
/* 슬라이드 페이지 버튼 */
main .swiper .swiper-wrapper{
    padding-bottom: 40px;
}
main .swiper .swiper-pagination-bullet{
    width: 60px;
    height: 5px;
    background: #000;
    border-radius: 0;
    opacity: 1;
}
main .swiper .swiper-pagination-bullet-active{
    background: #f57421;
}
main .txt{
    width: 100%;
    padding: 45px 0;
    text-align: center;
}
main .txt h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 20px;
}
main .txt p{
    font-size: 16px;
    color: #666;
    line-height: 26px;
    text-transform: uppercase;
}
main .txt p .show{
    display: none;
}
main .txt p em{
    font-style: normal;
}
main .txt p span{
    font-weight: 700;
}
/* 컨텐츠영역 */
main .content{
    background: gold;
    border-top: 10px solid #f57421;
}
main .content ul.list{
    display: flex;
    flex-wrap: wrap;
}
main .content ul.list li{
    width: 50%;
}
main .content ul.list li a{
    display: block;
    width: 100%;
}
main .content ul.list li a img{
    width: 100%;
    height: 100%;
}
main .content ul.list li:nth-child(3),
main .content ul.list li:nth-child(4),
main .content ul.list li:nth-child(5){
    width: calc(100%/3);
}
/* sns live 박스 */
main .snslive{
    padding: 50px;
    background: #ececec;
}
main .snslive h2{
    font-size: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}
main .snslive h2 span{
    color: #f57421;
}
main .snslive ul.sns_list{
    display: flex;
    flex-wrap: wrap;
}
main .snslive ul.sns_list li{
    position: relative;
    width: calc(100%/4);
}
main .snslive ul.sns_list li a{
    display: block;
    width: 100%;
}
main .snslive ul.sns_list li a img{
    width: 100%;
    height: 100%;
}
/* css 호버 걸기 */
main .snslive ul.sns_list li.blog::before{
    content: '';
    width: 0%;
    height: 100%;
    background: url(../images/cover_blog.png) no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
}
main .snslive ul.sns_list li.facebook::before{
    content: '';
    width: 0%;
    height: 100%;
    background: url(../images/cover_facebook.png) no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
}
main .snslive ul.sns_list li.blog:hover::before{
    width: 100%;
    left: 0;
}
main .snslive ul.sns_list li.facebook:hover::before{
    width: 100%;
    left: 0;
}
/* footer */
footer{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
footer .inner{
    display: flex;
    justify-content: space-between;
    position: relative;
}
footer .inner ul.f_menu{
    display: flex;
    gap: 15px;
}
footer .inner ul.f_menu>li{
    position: relative;

}
footer .inner ul.f_menu>li::after{
    content: '';
    width: 5px;
    height: 5px;
    background: #b3b3b3;
    border-radius: 100%;
    position: absolute;
    right: -7.5px;
    top: 50%;
    transform: translateY(-50%);
}
footer .inner ul.f_menu>li:last-child::after{
    display: none;
}
footer .inner ul.f_menu>li:hover a{
    color: #666;
}
footer .inner ul.f_menu>li>a{
    font-size: 13px;
    color: #b3b3b3;
    font-weight: bold;
}
footer .inner .family_box{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 15px;
    align-items: center;
}
footer .inner .family_box p.site{
    position: relative;
}

footer .inner .family_box p.site::before{
    content: '';
    width: 20px;
    height: 15px;
    background: url(../images/france.jpg) no-repeat;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}    
   
footer .inner .family_box .btn_family{
    width: 155px;
    height: 28px;
    border: 1px solid #363636;
    text-align: left;
    text-indent: 10px;
    font-size: 12px;
    background: url(../images/btn_select.png) no-repeat 98% center;
    background-position-y: 0px;
}
footer .inner .family_box .btn_family.on{
    background-position-y: -24px;
}
footer .inner .family_box ul.list{
    position: absolute;
    right: 0;
    bottom: 28px;
    /* display: none; */
    width: 155px;
    border: 1px solid #363636;
    background: #fff;
    display: none;
}
footer .inner .family_box ul.list li{
    text-indent: 10px;
    line-height: 26px;
}
footer .inner .family_box ul.list li:hover{
    background: #efefef;
}
footer .inner .family_box ul.list li a{
    font-size: 12px;
    color: #ccc;
}
/* copywrite */
footer p{
    font-size: 12px;
    color: #b3b3b3;
}