@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none; cursor: pointer;}
section{
    width: 100%;
}
section .inner{
    width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
section .inner .left{
    width: 574px;
    height: 346px;
    position: relative;
}
section .inner .left .tit{
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
}
section .inner .left .tit h3{
    position: relative;
}
section .inner .left .tit h3::before{
    content: '';
    width: 1px;
    height: 20px;
    background: #fff;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
section .inner .left .tit h3:first-child:before{
    display: none;
}
section .inner .product{
    width: 574px;
    height: 346px;
    background: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
section .inner .product h2{
    font-size: 21px;
    color: #333;
}
section .inner .product h2 span{
    font-size: 24px;
    font-weight: 900;

}
section .inner .product .line{
    width: 20px;
    height: 2px;
    background: #ec4646;
    margin: 15 0px;
}
section .inner .product ul.list li{
    text-align: center;
}
section .inner .product ul.list li a img{
    border-bottom: 1px solid #ccc;
}
section .inner .product ul.list li a h3{
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-top: 15px;
}
section .inner .product ul.list li a p{
    font-size: 13px;
    font-weight: 400;
    color: #757575;
}
section .inner .product ul.list li a h4{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
/* 페이지버튼 커스텀마이징 */
section .inner .product ul.list ul.slick-dots{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}
section .inner .product ul.list ul.slick-dots li button{
    width: 10px;
    height: 10px;
    background: url(../images/btn_rolling_s.png) no-repeat;
    text-indent: -99999px;
}
section .inner .product ul.list ul.slick-dots li.slick-active button{
    width: 10px;
    height: 10px;
    background: url(../images/btn_rolling_s_on.png) no-repeat;
}
.btn_pause{
    position: absolute;
    left: 50%;
    bottom: 28px;
    margin-left: 36px;
    width: 10px;
    height: 10px;
    background: url(../images/btn_rolling_s_stop.png) no-repeat;
    text-indent: -99999px;
}
.btn_play{
    position: absolute;
    left: 50%;
    bottom: 28px;
    margin-left: 50px;
    width: 10px;
    height: 10px;
    background: url(../images/btn_rolling_s_play.png) no-repeat;
    text-indent: -99999px;
}