@charset "utf-8";
body{font-family: 돋움체; margin: auto;}
*{margin: 0; padding: 0;}
div{width: 380px; border: 2px solid #1023c7; padding: 24px 8px 9px 13px;}
div h1{font-size: 16px; font-weight: bold; padding-bottom: 18px;}
div .p1{font-size: 14px; font-weight: bold; margin-bottom: 27px;}
div p .sp1{color: #dd723e;}
div p .sp2{color: #79a0c7;}
div p .sp3{color: #819ca7;}
div p .sp4{color: #f8e0ff; background: #916ed4; margin-top: 9px;}
div p{text-align: justify;}
div .p2{line-height: 18px; color: #333; font-size: 12px;}
div .p3{color:#acacac;}