@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;
   background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);}
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}
/* pc   */
.wrap{width: 960px;
   background: gold;
   margin: auto;}
.wrap header{width: 100%;
   height: 400px;
   background: url(../images/main_img02.png) no-repeat;
   background-size: cover;
   position: relative;}
.wrap header h1{position: absolute;
   right: 70px; top: 50%;
   transform: translateY(-50%);}
.wrap header nav ul.gnb{width: 100%;
   height: 50px; display: flex;
   position: absolute; left: 0; bottom: 0;}
.wrap header nav ul.gnb li{width: 25%; height: 50px;}
.wrap header nav ul.gnb li:hover a{background: rgba(255, 0, 0, 1);}
.wrap header nav ul.gnb li a{display: block;
   width: 100%; height: 100%;
   background: rgba(255, 0, 0, 0.5); display: flex; 
   justify-content: center;
   align-items: center; color: #fff;
   font-weight: 900;}
.wrap header h1 a{color: #333; font-size: 36px;}
.wrap main{background: #fff; display: flex;
   padding: 20px;}
.wrap main section{width: 70%;
   padding-right: 20px;}
.wrap main section h2{text-align: center;
   font-size: 32px; color: #333;
   margin-bottom: 20px;}
.wrap main section article h3{font-size: 24px;
   color: #333; margin-bottom: 20px;}
.wrap main section article p{font-size: 16px;
   color: #666; line-height: 26px;
   margin-bottom: 40px; text-align: justify;}
.wrap main aside{width: 30%;}
.wrap main aside a{display: block;
   width: 100%; margin-bottom: 20px;}
.wrap main aside a img{width: 100%;}
.wrap main aside a img:hover{filter: grayscale(1);}
.wrap footer{width: 100%; height: 50px;
   background: #333;}
.wrap footer p{display: flex; justify-content: center;
   align-items: center; color: #fff; height: 50px;}
@media ( min-width:768px ) and ( max-width:991px ){
    .wrap{width: 96%;}
    .wrap header{height: 300px;}
    .wrap main{flex-direction: column;}
    .wrap main section{width: 100%;}
    .wrap main aside{width: 100%; display: flex;
       gap: 20px; margin-bottom: 0;}
    }
/* 모바일     */
@media ( min-width:320px ) and ( max-width:767px ){
    .wrap{width: 96%;}
    .wrap header{height: 640px;}
    .wrap header h1{top: 20px;}
    .wrap header nav ul.gnb{flex-direction: column;
       width: 80%; left: 50%; top: 50%;
       transform: translate(-50%, -50%);
       height: 230px; gap: 10px;}
    .wrap header nav ul.gnb li{width: 100%;}
    .wrap header nav ul.gnb li a{border-radius: 16px;}
    .wrap main{flex-direction: column;}
    .wrap main section{width: 100%;}
    .wrap main aside{width: 100%;}
}