@charset "utf-8";
.box{
    width: 100%;
    background: gold;
}
.box div{
    width: 500px; height: 300px;
    background: pink;
    margin: auto;
}
p{
    text-align: center;
}
.box p button{
    cursor: pointer;
}