@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif; color: #333; font-size: 14px; background: #fff;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; border: none;}
button{border: none; background: none; cursor: pointer;}
.cover{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.popup{
    width: 400px;
    height: 400px;
    background: #ff9800;
    color: #fff;
    border: 1px solid #ff9800;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
}
.popup h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.popup .btn_close{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #fff;
    border: none;
    padding: 6px;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.gnbbg{
    width: 100%;
    height: 120px;
    background: #f44336;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 49;
    display: none;
}
header nav ul.gnb{
    display: flex;
    width: 600px;
    height: 40px;
}
header nav ul.gnb>li{
    width: 150px;
    height: 100%;
    position: relative;
}
header nav ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
header nav ul.gnb>li:hover>a{
    background: #f44336;
    color: #fff;
}
/* 2차메뉴 */
header nav ul.gnb>li>.depth2{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 50;
    display: none;
}
header nav ul.gnb>li>.depth2 li{
    width: 100%;
}
header nav ul.gnb>li>.depth2 li a{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
header nav ul.gnb>li>.depth2 li:hover a{
    background: #fff;
    color: #f44336;
}
main{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}
.contents{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}
.contents .notice{
    width: 400px;
    height: 200px;
    padding: 10px;
}
.contents .notice ul li{
    width: 100%;
    height: 26px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
}
.contents .notice ul li a{
    color: #333;
}
.contents .gallery{
    width: 400px;
    height: 200px;
    padding: 10px;
}
.contents .notice h2,
.contents .gallery h2,
.contents .link h2
{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ff9800;
    line-height: 50px;
    font-size: 16px;
}
.contents .gallery ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 130px;
    align-items: center;
}
.contents .gallery ul li a img{
    transition: all 0.3s ease-in-out;
}
.contents .gallery ul li:hover a img{
    opacity: 0.5;
}
.contents .link{
    width: 400px;
    height: 200px;
    padding: 10px;
    background: url(../images/link.png) no-repeat ;
}
.contents .link h2{
    color: #fff;
    padding: 0 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.contents .link p{
    color: #fff;
    line-height: 24px;
    padding: 0 10px;
    text-shadow: 2px 2px 2px #000;
}
.contents .link a{
    display: block;
    color: #333;
    background: #fff;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
footer{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid #ff9800;
}
footer .fwrap{
    width: 1000px;
    height: 100px;
}
footer .family{
    width: 200px;
    height: 100px;
    padding-top: 20px;
    position: relative;
}
footer .fwrap .fnav{
    width: 100%;
    height: 50px;
}
footer .fwrap .fnav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
   
}
footer .fwrap .fnav ul li{
     position: relative;
}
footer .fwrap .fnav ul li::after{
    content: '';
    width: 1px;
    height: 12px;
    background: #333;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
footer .fwrap .fnav ul li:first-child::after{
    display: none;
}
footer .fwrap .fnav ul li a{
    color: #333;
    font-size: 12px;
    font-weight: 700;
}
footer .fwrap p{
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}

footer .family .fm{
    width: 200px;
    height: 40px;
    background: #fff;
    border: 1px solid #333;
    text-align: left;
    text-indent: 20px;
    position: relative;
}
footer .family .fm::after{
    content: '▼';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
footer .family ul{
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 200px;
    background: #fff;
    border: 1px solid #333;
    text-indent: 20px;
    display: none;
    border-bottom: none;
}
footer .family ul li{
    line-height: 24px;
}
footer .family ul li a{
    font-size: 12px;
    color: #333;
}
footer .family ul li:hover{
    background: #ff9800;
}
footer .family ul li:hover a{
    color: #fff;
}