@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family:"inter", "Noto Sans KR", sans-serif;
   background: #000;}
h2{font-size: 100px; font-weight: 900;
   -webkit-text-stroke: 1px #fff;
   -webkit-text-fill-color: transparent;}
h2:hover{-webkit-text-fill-color: #fff}